<!-- <app-sign-up></app-sign-up> -->
<!-- <app-sign-up-page></app-sign-up-page> -->
<section class="header">
    <div class="header__content header__items row">
        <div class="header__logo header__item col-3">
            <a href="#">
                <img class="logo" src="../../assets/img/logo_CocoFood.png" alt="logo">
            </a>
        </div>
        <div class="header__navbar header__item col-6">
            <nav class="navbar  navbar-light">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="btn__toggler navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header__lookup header__search header__item col-1"><i class="fa fa-search"></i></div>
        <div class="header__language header__item col-2">
            <button class="language__EN" (click)="switchLanguage('en')">EN</button>
            <button class="language__VN" (click)="switchLanguage('vi')">VN</button>
        </div>
    </div>
</section>
<section class="body">
    <div class="body__banner">
        <div class="banner__nav">
            <ul class="navbar__items horizontal-list">
                <li class=" navbar__item">
                    <a class="nav-link active" href="#" translate>banner.nav_1</a>
                </li>
                <li class=" navbar__item">
                    <a class="nav-link" href="#" translate>banner.nav_2</a>
                </li>
                <li class=" navbar__item">
                    <a class="nav-link" href="#" translate>banner.nav_3</a>
                </li>
            </ul>
        </div>
        <div class="banner__group1">
            <div class="banner__info">
                <div class="info__group">
                    <h2 class="banner__title-head" translate>
                        banner.title
                    </h2>
                    <h2 class="banner__title-mid" translate>
                        banner.title_1
                    </h2>
                    <h2 class="banner__title-bot" translate>
                        banner.title_2
                    </h2>
                    <p class="banner__subtitle" translate>
                        banner.subTitle
                    </p>
                </div>
            </div>
            <div class="banner__form">
                <div class="form">
                    <div class="form-background">
                        <h3 class="form__title" translate>form.title</h3>
                        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfContact" class="row form__group" >
                            <div class="form__content">
                                <div class="form-group  row">
                                    <label for="example-text-input" class="col-md-12 col-form-label"
                                        translate>form.nameRestaurant</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" id="example-text-input"
                                            formControlName="nameRestaurant">
                                    </div>
                                </div>
                                <div class="col alert alert-danger" role="alert"
                                    *ngIf="rfContact.get('nameRestaurant')?.errors?.required && (rfContact.get('nameRestaurant')?.touched || submitted)"
                                    translate>
                                    message.nameRestaurant
                                </div>

                                <div class="form-group row">
                                    <label for="namePartner-input" class="col-md-12 col-form-label"
                                        translate>form.namePartner</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" id="namePartner-input"
                                            formControlName="namePartner">
                                    </div>
                                </div>
                                <div class="col alert alert-danger" role="alert"
                                    *ngIf="rfContact.get('namePartner')?.errors?.required && (rfContact.get('namePartner')?.touched || submitted)"
                                    translate>
                                    message.namePartner
                                </div>
                                <div class="row">
                                    <div class="form-group row col-6">
                                        <label for="phoneNumber-input" class="col-md-12 col-form-label"
                                            translate>form.phoneNumber</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="number" id="phoneNumber-input"
                                                formControlName="phoneNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row col-6">
                                        <label for="email-input" class="col-md-12 col-form-label"
                                            translate>form.email</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="email" id="email-input"
                                                formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col alert alert-danger" role="alert"
                                        *ngIf="rfContact.get('phoneNumber')?.errors?.required && (rfContact.get('phoneNumber')?.touched || submitted)"
                                        translate>
                                        message.phoneNumber
                                    </div>
                                    <div class="col alert alert-danger" role="alert"
                                        *ngIf="rfContact.get('email')?.errors?.required && (rfContact.get('email')?.touched || submitted)"
                                        translate>
                                        message.email
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="addressTitle-input" class="col-md-12 col-form-label"
                                        translate>form.addressTitle</label>
                                    <div class="control-group col-12">
                                        <div class="row col-12">
                                            <div class="select col-6 ">
                                                <select >
                                                    <option  translate>form.city</option>
                                                    <option>HCM</option>
                                                    <option>HN</option>
                                                </select>
                                            </div>
                                            <div class="select col-6 ">
                                                <select >
                                                    <option translate>form.district</option>
                                                    <option>Quận 1</option>
                                                    <option>Quận 2</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col alert alert-danger" role="alert"
                                                *ngIf="rfContact.get('city')?.hasError('required') && submitted"
                                                translate>
                                                message.city
                                            </div>
                                            <div class="col alert alert-danger" role="alert"
                                                *ngIf="rfContact.get('district')?.hasError('required') && submitted"
                                                translate>
                                                message.district
                                            </div> -->
                                        </div>
                                        <div class="row col-12">
                                            <div class="select col-6 ">
                                                <select >
                                                    <option  translate>form.ward</option>
                                                    <option>Phường 1</option>
                                                    <option>phường 2</option>
                                                </select>
                                            </div>
                                            <div class="select col-6 ">
                                                <input class="form-control address-input" type="text"
                                                    formControlName="street" placeholder="123 đường ABC / 123, ABC St.">
                                            </div>
                                            <!-- <div class="col alert alert-danger" role="alert"
                                                *ngIf="rfContact.get('ward')?.hasError('required') && submitted"
                                                translate>
                                                message.ward
                                            </div> -->
                                            <div class="col alert alert-danger" role="alert"
                                                *ngIf="rfContact.get('street')?.errors?.required && (rfContact.get('street')?.touched || submitted)"
                                                translate>
                                                message.street
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="form-group row col-6">
                                        <label for="bsType-input" class="col-md-12 col-form-label"
                                            translate>form.businessType</label>
                                        <div class="col-md-12">
                                            <input class="form-control" type="text" id="bsType-input"
                                                formControlName="businessType">
                                        </div>
                                    </div>
                                    <div class="form-group row col-6">
                                        <label for="website-input" class="col-md-12 col-form-label"
                                            translate>form.website</label>
                                        <div class="col-md-12">
                                            <input class="form-control website-input" type="url" id="website-input"
                                                formControlName="website">
                                        </div>

                                    </div>
                                    <div class="col alert alert-danger" role="alert"
                                        *ngIf="rfContact.get('businessType')?.errors?.required && (rfContact.get('businessType')?.touched || submitted)"
                                        translate>
                                        message.businessType
                                    </div>
                                    <div class="col alert alert-danger" role="alert"
                                        *ngIf="rfContact.get('website')?.errors?.required && (rfContact.get('website')?.touched || submitted)"
                                        translate>
                                        message.website
                                    </div>
                                    <!-- <div class="col alert alert-danger" role="alert"
                                            *ngIf="rfContact.get('social.facebook')?.hasError('required') && rfContact.get('social.facebook')?.touched"
                                            translate>
                                            message.phoneNumber
                                        </div> -->
                                </div>
                                <!-- <div class="recaptcha">
                                    <re-captcha formControlName="recaptchaReactive"></re-captcha>
                                </div> -->
                                <div class="group__btn ">
                                    <div class=" btn__div div__submit">
                                        <button class="btn btn__submit" type="submit" >SUBMIT</button>
                                    </div>
                                    <div class=" btn__div div__cancel">
                                        <button class="btn btn__cancel" type="reset" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="body__scanner-background">
        <img src="/assets/img/banner_scanner.png" alt="img_scanner">
    </div>
</section>
<section class="footer">
    <div class="footer__content row">
        <div class="footer__info col-6">
            <div class="infor__group">
                <h3 translate>footer.company</h3>
                <ul class="info__items">
                    <li class="info__item">
                        <span class="info__icon"><i class="fa fa-map-marker-alt"></i></span>
                        <span class="info__text" translate>footer.address</span>
                    </li>
                    <li class="info__item">
                        <span class="info__icon"><i class="fa fa-envelope"></i></span>
                        <span class="info__text">info@cocofood.com</span>
                    </li>
                    <li class="info__item">
                        <span class="info__icon"><i class="fa fa-mobile-alt"></i></span>
                        <span class="info__text">+84 911 11 111</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__social col-6">
            <h3>Social Media</h3>
            <ul class="social__items">
                <li class="social__item item_1 facebook">
                    <i class="fab fa-facebook-f"></i>
                </li>
                <li class="social__item google">
                    <i class="fab fa-google"></i>
                </li>
                <li class="social__item twitter">
                    <i class="fab fa-twitter"></i>
                </li>
                <li class="social__item mail">
                    <i class="fa fa-envelope"></i>
                </li>
            </ul>
            <div class="email__group">
                <input class="email__info" type="mail" name="mail" id="mail" placeholder="Email">
                <div class="button__telegram">
                    <li class="social__item telegram">
                        <i class="fab fa-telegram-plane"></i>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">© Copyright 2020 Cocofood</div>
</section>